<div>
  <form ng-submit="vm.update(vm.searchInput)">
    <div>
      <h3>Tag Search</h3>
    </div>
    <div style="float:left;">
      <input type="text" ng-model="vm.searchInput" placeholder=" enter a product code" autofocus>
    </div>

    <div style="float:right;">
      <button type="submit">Search</button>
    </div>

    <div style="clear:both;"></div>

  </form>

  <hr>

  <p ng-if="vm.previousSearch">Now showing tag number <strong>{{vm.previousSearch | uppercase}}</strong></p>

  <pre ng-bind="vm.searchResult | json"></pre>
</div>
